<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="<%=darkMode ? 'dark-mode' : '' %>">
      <img src="/images/Logo.svg" alt="Logo" />
      <button type="button" class="hamburguer-menu">
        <img src="/images/hamburguer.svg" alt="Botão Hambuerguer">
      </button>
      <nav class="navbar">
        <a href="#"> Home </a>
        <a href="#"> Pokedex </a>
        <a href="#"> Legendaries </a>
        <a href="#"> Documentation </a>
      </nav>
    </header>
    <main class="<%=darkMode ? 'dark-mode-main' : '' %>">
      <img src="/images/pikachu.svg" alt="Pikachu" />
      <div>
        <h1>
          <strong>Find</strong> all your favorite <strong>Pokemon</strong>
        </h1>
        <p>
          You can know the type of Pokemon, its strengths, disadvantages and
          abilities
        </p>
        <a class="link-pokemons">See pokemons</a>
      </div>
      <a href="dark-mode" class="botao-flutuante">
        <img src="/images/pokebola.svg" alt="Pokebola"/>
      </a>
    </main>
  </body>
</html>