<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/login.css" />
  </head>
  <body>
    <section>
      <form class="login" method="post" action="/login">
        <label for="usuario">Usuario:</label>
        <br>
        <input type="text" id="name" name="name" required class="acesso">
        <br>
        <label for="senha">Senha:</label>
        <br>
        <input type="password" name="password" id="senha" required class="acesso">
        <br>
        <% if(loginFail) { %>
          <span>
            Credenciais inválidas
          </span>
        <% } %>      
       
        <div class="botão de acesso" >
          <button type="submit" class="Logar">Logar</button>
        </div>
      </form>
    </section>
  </body>
</html>