<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/login.css" />
  </head>
  <body>
    <section>
      <div class="login">
        <label for="usuario">Usuario:</label>
        <br>
        <input type="text" id="name" name="name" required class="acesso">
        <br>
        <label for="senha">Senha:</label>
        <br>
        <input type="passowrd" name="passowrd" id="senha" required class="acesso">
        <br>
        <div class="botão de acesso" >
          <button type="button" class="Logar">Logar</button>
        </div>
      </div>
      </form>
    </section>
  </body>
</html>