* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#F5DB13;
  padding: 10px;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background: linear-gradient(#F5DB13, #F2B807);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 50px;
}

main > div > h1 {
  font-size: 42px;
  font-weight: normal;
  padding: 15px 40px;
}

main > div > p {
  font-family: 'Karla';
  font-size: 24px;
  padding: 0 40px;
}

.navbar > a {
  font-size: 25px;
  margin: 0 20px 0 0;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.link-pokemons{
  width: 300px;
  height: 50px;
  border-radius: 11px;
  background: #73D677;
  box-shadow: 0px 7px 0px #5eaf62;
  margin-top: 20px;
  font-size: 23px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar > a:hover {
  text-decoration: underline;
}

@media(min-width: 481px) {
  header {
    padding: 20px 10px;
  }

  header > img {
    width: 128px;
  }
}

@media(min-width: 650px) {
  .navbar{
    display: flex;
  }
}
