* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#F5DB13;
  padding: 10px;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background: linear-gradient(#F5DB13, #F2B807);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 50px;
}

main > div > h1 {
  font-size: 42px;
  font-weight: normal;
}

main > div > p {
  font-size: 24px;
  margin: 30px 0;
}

.navbar > a {
  font-size: 25px;
  margin: 0 20px 0 0;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.navbar > a:hover {
  text-decoration: underline;
}